@charset "utf-8";
/* CSS Document */
body{background:#f6f7f9;}
body,ul,li,div{margin:0px; padding:0px;}
.clear{clear:both; height:1px;}
ul,li{list-style:none;}
a{font-size:13px; text-decoration:none; color:#000;}
a:hover{color:#f00; text-decoration:underline;}
img{border:none;}


.login_top,.login_center,.login_foot{width:990px; margin:0px auto;}
.login_top{margin-top:40px; height:54px; line-height:54px;}
.top_nav,.top_logo{float:left; font-size:16px; font-family:"Lucida Console", Monaco, monospace, "微软雅黑"}
.top_btnline{ height:1px; background:1px scroll #e3e3e3; width:100%; margin-top:20px;}
.top_logo img{vertical-align:middle;}
.top_nav{ margin-left:400px;}
.top_nav ul li{float:left; margin-left:15px; margin-right:10px; padding:0;}

.login_center{margin-top:65px; background:url(../images/login_bj.jpg) no-repeat; height:372px;padding-top:25px; color:#7d7d7d; font-weight:bold;}
.login_form{ width:332px; height:292px; margin-left:600px;background:url(../images/form_bj.png); padding-top:28px; padding-left:38px; background:#fff;}
.login_form ul{}
.login_form ul li{ height:80px;}
.login_form ul li.typeSelect{ height:30px; margin-left:70px;}
.inpt_user,.inpt_pwd{ margin-left:50px; background:none; border:1px solid #ccc; height:30px; line-height:30px; padding-left:6px; width:220px; margin-top:10px;}
.inpt_title{ padding-bottom:10px; padding-right:140px;}
.wjmm a{ color:#00a2ca;}
.wjmm a:hover{text-decoration:none; color:#f00;}
.btn{ margin-top:10px;margin-left:35px;}
.login_btn{margin-left: 40px;background:url(../images/denglu.jpg) no-repeat; width:83px; height:40px; border:none; vertical-align:middle;}

.login_foot{text-align:center; font-size:13px; margin-top:15px; height:50px;}